/*
--- 01 TYPOGRAPHY SYSTEM

- Font sizes (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98

- Font weights
Default: 400
Medium: 500
Semi-bold: 600
Bold: 700

- Line heights
Default: 1
Small: 1.05
Medium: 1.2
Paragraph default: 1.6

- Letter spacing
-0.5px
0.75px


#555
#333

--- 05 SHADOWS

0 2.4rem 4.8rem rgba(0, 0, 0, 0.075);

--- 06 BORDER-RADIUS

Default: 9px
Medium: 11px

--- 07 WHITESPACE

- Spacing system (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128
*/
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;600&display=swap');
:root {
    --main-green-color: #37b24d;
    /* Tints and shades generator for #37b24d */
    /* ?Open color GREEN */
    --light-green-color: #5fc171;
    --light-color: #ebfbee;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}

html,
body {
    width: auto !important;
    overflow-x: hidden !important;
}

body {
    font-family: 'Rubik', serif;
    line-height: 1;
    font-weight: 400;
    color: #555;
}

/**************************/
/* GENRAL REUSABLE COMPONENTS */
/**************************/

.container {
    /* 1140px */
    max-width: 120rem;
    padding: 0 3.2rem;
    margin: 0 auto;
}

/**************************/
/* HEADER HERO */
/**************************/

.header {
    min-height: 100vh;
    box-shadow: inset 0 0 0 2000px rgba(0, 0, 0, 0.6);
    background-image: url('../img/background.jpg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    position: relative;
    animation: changeBg 5s infinite;
}

/* BACKOGRUND IMAGE CHANGE ANIMATION */
/* @keyframes changeBg {
    0%,
    100% {
        background-image: url('../img/background.jpg');
    }
    25% {
        background-image: url('../img/2.jpg');
    }
    50% {
        background-image: url('../img/3.jpg');
    }
    75% {
        background-image: url('../img/1.jpg');
    }
} */

/* NAVIGATION */
/* STICKU IMPLEMENT LATER HERE */
/* .header-nav {
    background-color: red;
    position: fixed;
    width: 100%;
    z-index: 100;
} */

.cont-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 9.6rem;
    padding: 0 4.8rem;
}

.main-nav-list {
    list-style-type: none;
    display: flex;
    align-items: center;
    gap: 3.2rem;
}

.main-nav-link:link,
.main-nav-link:visited {
    display: inline-block;
    text-decoration: none;
    color: var(--light-color);
    font-weight: 500;
    font-size: 2rem;
    transition: all 0.3s;
}

.main-nav-link:hover,
.main-nav-link:active {
    color: var(--light-green-color);
}

.nav-item a:after {
    display: block;
    padding-bottom: 0.4rem;
    content: '';
    /* border-bottom: solid 1.6px #fff; */
    border-bottom: solid 1.6px var(--light-green-color);
    transform: scaleX(0);
    transition: transform 250ms ease-in-out;
}

.nav-item a:hover:after {
    transform: scaleX(1);
}

.hamburger {
    display: none;
}

.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: var(--light-color);
}

@media only screen and (max-width: 768px) {
    .main-nav-list {
        position: fixed;
        right: -100%;
        top: -100%;
        top: 9.6rem;
        flex-direction: column;
        background-color: var(--light-color);
        width: 100%;
        border-radius: 10px;
        text-align: center;
        transition: 0.3s;
        box-shadow: 0 10px 27px rgba(0, 0, 0, 0.05);
        z-index: 10;
    }

    .main-nav-list.active {
        right: 0;
    }

    .main-nav-link:link,
    .main-nav-link:visited {
        display: inline-block;
        text-decoration: none;
        color: #0b240f;
        font-weight: 500;
        font-size: 2rem;
        transition: all 0.3s;
    }

    .nav-item {
        margin: 1.2rem 0;
    }

    .nav-item a:after {
        border-bottom: solid 1.6px #0b240f;
    }

    .hamburger {
        display: block;
        cursor: pointer;
    }

    .hamburger.active .bar:nth-child(2) {
        opacity: 0;
    }

    .hamburger.active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }

    .hamburger.active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }
}

/* HERO */
.action {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    z-index: 1;
}

.h-span {
    color: var(--light-green-color);
}

.action-heading {
    font-size: 3.6rem;
    color: var(--light-color);
    line-height: 1.6;
    margin-bottom: 2.4rem;
    font-weight: 600;
    letter-spacing: 1.3px;
}

.cta-btn:link,
.cta-btn:visited {
    display: inline-block;
    font-size: 2rem;
    padding: 1.6rem 4.8rem;
    font-weight: 600;
    text-decoration: none;
    color: var(--light-color);
    border: 1px solid var(--light-green-color);
    border-radius: 12px;
    transition: background-color 0.3s;
}

.cta-btn:hover,
.cta-btn:active {
    background-color: var(--light-green-color);
}

/* SECTION WHAT */

.section-what {
    padding: 9.6rem 0;
    background-color: #ebf7ed;
}

.l-heading {
    font-size: 4.8rem;
    margin-bottom: 6.4rem;
    text-align: center;
    color: #333;
}

.text-description {
    width: 90%;
    margin: 0 auto;
}

.text-description p {
    margin: 2.4rem 0;
    font-size: 2.2rem;
    text-align: center;
    letter-spacing: 1.4px;
    color: #333;
}
/* GALLERY */

#gallery {
    background-color: var(--whitish-color);
    width: 100%;
    margin-top: 6.4rem;
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    margin: -1rem -1rem;
}

.gallery-item {
    flex: 1 0 12rem;
    height: 35rem;
    margin: 1rem;
    box-shadow: 0.3rem 0.4rem 0.4rem rgba(0, 0, 0, 0.4);
    overflow: hidden;
    border-radius: 14px;
}

.gallery-image {
    display: block;
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    transition: all 400ms ease-out;
    -webkit-filter: brightness(60%);
    filter: brightness(60%);
}

.gallery-image:hover {
    transform: scale(1.15);
    -webkit-filter: brightness(100%);
    filter: brightness(100%);
}

/* SECTION DOUGH CALCULATOR */

.section-dough-calculator {
    padding: 9.6rem 0;
    background-color: #9bd9a6;
}

.form-and-output {
    display: flex;
    /* flex-direction: column; */
}

.form-and-output > * {
    flex: 1 1 0;
}

.form,
.output {
    padding: 2rem 5rem;
    /* align-self: center; */
    /* justify-self: center; */
    background-color: #fff;
    box-shadow: 0.3rem 0.4rem 0.4rem rgba(0, 0, 0, 0.4);
    border-radius: 1rem;
    margin: 1rem;
}

/* Form styles */
.form-group {
    display: flex;
    flex-direction: column;
    margin: 1rem 0;
}

input {
    width: 50%;
}

input,
label {
    padding: 0.4rem 0;
    font-size: 2rem;
}

input[type='number'] {
    /* border: none; */
    border: 1px solid black;
    border-radius: 0.5rem;
    font-size: 1rem;
    padding: 0.5rem 1rem;
    font-size: 2rem;
}

input[type='number']:focus {
    outline: none;
}

#submitBtn {
    margin-top: 1rem;
    border: none;
    background-color: var(--main-green-color);
    padding: 1rem 0;
    border-radius: 1rem;
    color: #fff;
    transition: 250ms ease-in-out;
}

#submitBtn:hover {
    cursor: pointer;
    background-color: var(--green-color);
}

/* Output styles */
.output {
    display: flex;
    flex-direction: column;
    font-size: 2rem;
}

ul.ingredients {
    margin-top: 1rem;
}

ul.ingredients li {
    margin: 0.8rem 0;
}

@media all and (max-width: 800px) {
    #calculator {
        /* display: flex; */
        flex-direction: column;
    }

    input {
        width: 100%;
    }
}

/* QUESTIONS */

.section-questions {
    /* padding: 9.6rem 0; */
    padding-top: 9.6rem;
}

.tab-wrap {
    -webkit-transition: 0.3s box-shadow ease;
    transition: 0.3s box-shadow ease;
    border-radius: 6px;
    max-width: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    position: relative;
    list-style: none;
    background-color: #fff;
    margin: 40px 0;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}
.tab-wrap:hover {
    box-shadow: 0 12px 23px rgba(0, 0, 0, 0.23), 0 10px 10px rgba(0, 0, 0, 0.19);
}

.tab {
    display: none;
}
.tab:checked:nth-of-type(1) ~ .tab__content:nth-of-type(1) {
    opacity: 1;
    -webkit-transition: 0.5s opacity ease-in, 0.2s transform ease;
    transition: 0.5s opacity ease-in, 0.2s transform ease;
    position: relative;
    top: 0;
    z-index: 100;
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
    text-shadow: 0 0 0;
}
.tab:checked:nth-of-type(2) ~ .tab__content:nth-of-type(2) {
    opacity: 1;
    -webkit-transition: 0.5s opacity ease-in, 0.2s transform ease;
    transition: 0.5s opacity ease-in, 0.2s transform ease;
    position: relative;
    top: 0;
    z-index: 100;
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
    text-shadow: 0 0 0;
}
.tab:checked:nth-of-type(3) ~ .tab__content:nth-of-type(3) {
    opacity: 1;
    -webkit-transition: 0.5s opacity ease-in, 0.2s transform ease;
    transition: 0.5s opacity ease-in, 0.2s transform ease;
    position: relative;
    top: 0;
    z-index: 100;
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
    text-shadow: 0 0 0;
}
.tab:checked:nth-of-type(4) ~ .tab__content:nth-of-type(4) {
    opacity: 1;
    -webkit-transition: 0.5s opacity ease-in, 0.2s transform ease;
    transition: 0.5s opacity ease-in, 0.2s transform ease;
    position: relative;
    top: 0;
    z-index: 100;
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
    text-shadow: 0 0 0;
}
.tab:first-of-type:not(:last-of-type) + label {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}
.tab:not(:first-of-type):not(:last-of-type) + label {
    border-radius: 0;
}
.tab:last-of-type:not(:first-of-type) + label {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}
.tab:checked + label {
    background-color: #fff;
    box-shadow: 0 -1px 0 #fff inset;
    cursor: default;
}
.tab:checked + label:hover {
    box-shadow: 0 -1px 0 #fff inset;
    background-color: #fff;
}
.tab + label {
    width: 100%;
    box-shadow: 0 -1px 0 #eee inset;
    border-radius: 6px 6px 0 0;
    cursor: pointer;
    display: block;
    text-decoration: none;
    color: #333;
    -webkit-box-flex: 3;
    -webkit-flex-grow: 3;
    -ms-flex-positive: 3;
    flex-grow: 4;
    text-align: center;
    background-color: #f2f2f2;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-transition: 0.3s background-color ease, 0.3s box-shadow ease;
    transition: 0.3s background-color ease, 0.3s box-shadow ease;
    height: 50px;
    box-sizing: border-box;
    padding: 15px;
}
@media (min-width: 768px) {
    .tab + label {
        width: auto;
    }
}
.tab + label:hover {
    background-color: #f9f9f9;
    box-shadow: 0 1px 0 #f4f4f4 inset;
}
.tab__content {
    padding: 2rem 4rem;
    background-color: transparent;
    position: absolute;
    width: 100%;
    z-index: -1;
    opacity: 0;
    left: 0;
    -webkit-transform: translateY(-3px);
    transform: translateY(-3px);
    border-radius: 6px;
}

.tab-heading {
    font-size: 3rem;
    margin-bottom: 2rem;
}

.tab-text {
    font-size: 2rem;
}

/* RECIPE */
.section-recipe {
    padding: 9.6rem 0;
}

.steps-grid {
    display: grid;
    column-gap: 6.4rem;
    row-gap: 9.6rem;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
}

.step-number {
    font-size: 8.6rem;
    font-weight: 600;
    color: #ddd;
    margin-bottom: 1.2rem;
}

.step-heading {
    font-weight: 700;
    color: #333;
    letter-spacing: -0.5px;
    font-size: 3rem;
    line-height: 1.2;
    margin-bottom: 3.2rem;
}

.step-description {
    font-size: 1.8rem;
    line-height: 1.8;
}

.video-text {
    font-size: 2.4rem;
    font-weight: 600;
    line-height: 1.5;
}

.step-img-box {
    position: relative;

    display: flex;
    align-items: center;
    justify-content: center;
}

.step-img {
    width: 60%;
    box-shadow: 0.6rem 0.8rem 0.8rem rgba(0, 0, 0, 0.4);
    /* z-index: 10; */
    transition: 250ms ease-in-out;
}

.step-img:hover {
    transform: scale(1.05);
}

@media (max-width: 34em) {
    .steps-grid {
        grid-template-columns: 1fr;
    }

    .step-img-box:nth-child(2) {
        grid-row: 1;
    }

    .step-img-box:nth-child(6) {
        grid-row: 5;
    }
    .step-img-box {
        transform: translateY(2.4rem);
    }

    .step-img {
        width: 80%;
    }
}

/* VIDEO SECTION */

/* Responsive video */
.video-tutorial {
    padding: 9.6rem 0;
}

.video {
    position: relative;
    padding-bottom: 56.25%; /* 16:9 */
    height: 0;
}

.video iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

/* FOOTER */
footer {
    padding: 2rem;
    background-color: var(--main-green-color);
    text-align: center;
    width: 100vw;
}

footer h3 {
    font-size: 2.4rem;
}
