@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Bellota:wght@300&display=swap');

:root {
  --red-color: #b4000f;
  --green-color: #597718;
  --whitish-color: #ebedef;
  --dark-greyish-color: #c4c7cf;
  --light-greyish-color: #dbe4e2;
}

html {
  scroll-behavior: smooth;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: "Lato", sans-serif;
  
  line-height: 1.6;
}

html, body {width: auto!important; overflow-x: hidden!important} 


.l-heading {
  font-size: 2rem;
}

/* Navigation */
nav {
  background: var(--green-color);
  padding: 5px 20px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 999;
}

ul {
  list-style-type: none;
}

a {
  color: white;
  text-decoration: none;
  /* padding-bottom: 0.4rem; */
}

.logo {
  font-family: "Bellota", sans-serif;
}

.item a:after {
  display: block;
  padding-bottom: 0.2rem;
  content: "";
  /* border-bottom: solid 1.6px #fff; */
  border-bottom: solid 1.6px var(--red-color);
  transform: scaleX(0);
  transition: transform 250ms ease-in-out;
}

.item a:hover:after {
  transform: scaleX(1);
}

.logo a:hover {
  text-decoration: none;
}

.activeLink {
  display: block;
  /* padding-bottom: 0.2rem; */
  /* border-bottom: solid 1.6px #fff; */
  /* border-bottom: solid 1.6px var(--red-color); */
  background: var(--red-color);
  padding: 0.2rem 1rem;
  border-radius: 1rem;
}

.menu li {
  font-size: 16px;
  padding: 15px 5px;
  white-space: nowrap;
}

.logo a,
.toggle a {
  font-size: 20px;
}

/* Mobile menu */
.menu {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.toggle {
  order: 1;
}

.item {
  width: 100%;
  text-align: center;
  order: 3;
  display: none;
  padding: 0.2rem 1rem;
}

.item.active {
  display: block;
}

/* Navbar Toggle */
.toggle {
  cursor: pointer;
}

.bars {
  background: #fff;
  display: inline-block;
  height: 2px;
  position: relative;
  transition: background 0.2s ease-out;
  width: 18px;

}

.bars:before,
.bars:after {
  background: #fff;
  content: "";
  display: block;
  height: 100%;
  position: absolute;
  transition: all 0.2s ease-out;
  width: 100%;
}

.bars:before {
  top: 5px;
}

.bars:after {
  top: -5px;
}

.activeMenu {
  position: relative;
  width: 18px;
}

.activeMenu:before {
  content: 'x';
  color: #fff;
  font-weight: 300;
  display: inline-block;
  position: absolute;
  font-size: 2.3rem;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  
}

/* Tablet menu */
@media all and (min-width: 468px) {
  .menu {
    justify-content: center;
  }

  .logo {
    flex: 1;
  }

  .toggle {
    order: 2;
  }
}

/* Desktop menu */
@media all and (min-width: 768px) {
  .item {
    display: block;
    width: auto;
  }

  .toggle {
    display: none;
  }

  .logo {
    order: 0;
  }

  .item {
    order: 1;
  }

  .menu li {
    padding: 15px 10px;
  }
}

/* Header */

header {
  margin-top: 4.375rem;
  height: 100vh;
  box-shadow: inset 0 0 0 2000px rgba(0, 0, 0, 0.6);
  background-image: url('../img/background.jpg');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 100;
}



.main-heading {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

header .main-heading .l-heading {
  color: #fff;
  padding: 2rem;
}

header .main-heading a {
  padding: 1rem 4rem;
  border: 3px solid var(--red-color);
  border-radius: 1rem;
  transition: 250ms ease-in-out;
  font-size: 1.2rem;
}

header .main-heading a:hover {
  background: var(--red-color);
  padding: 1rem 4rem;
}


/* Sectrion What */

section#what {
  padding: 6rem 0;
  /* text-align: center; */
}

#what h1 {
  text-align: center;
}

#what h1 {
  margin-bottom: 1rem;
}

div.text-description {
  width: 80%;
  margin: 0 auto;
}

/* Gallery */
#gallery {
  background-color: var(--whitish-color);
}

.container {
	max-width: 100rem;
	margin: 0 auto;
	padding: 0 2rem 2rem;
}

.heading {
	font-family: "Montserrat", Arial, sans-serif;
	font-size: 4rem;
	font-weight: 500;
	line-height: 1.5;
	text-align: center;
	padding: 3.5rem 0;
	color: #1a1a1a;
}

.heading span {
	display: block;
}

.gallery {
	display: flex;
	flex-wrap: wrap;
	margin: -1rem -1rem;
}

.gallery-item {
	flex: 1 0 12rem;
  height: 25rem;
	margin: 1rem;
	box-shadow: 0.3rem 0.4rem 0.4rem rgba(0, 0, 0, 0.4);
	overflow: hidden;
}

.gallery-image {
	display: block;
	width: 100%;
	height: 100%;
	object-fit: cover;
	transition: all 400ms ease-out;
  filter: brightness(60%);
}

.gallery-image:hover {
	transform: scale(1.15);
  filter: brightness(100%);
}


/* Section dough calculator */
#dough-calculator {
  /* background: var(--whitish-color); */
  padding: 6rem 0;
}
.dough-h {
  text-align: center;
}

.dough-h h1 {
  padding: 1rem 0;
  margin-bottom: 1rem;
}

#calculator {
  display: flex;
  /* flex-direction: column; */
}
#calculator > * {
  flex: 1 1 0;
}

.form,
.output {
  padding: 1rem 5rem;
  /* align-self: center; */
  /* justify-self: center; */
  background-color: var(--light-greyish-color);
  box-shadow: 0.3rem 0.4rem 0.4rem rgba(0, 0, 0, 0.4);
  border-radius: 1rem;
  margin: 1rem;
}

/* Form styles */
.form-group {
  display: flex;
  flex-direction: column;
  margin: 1rem 0;
} 

input {
  width: 50%;
}

input, 
label {
  padding: 0.4rem 0;
}

input[type="number"] {
  /* border: none; */
  background: var(--whitish-color);
  border: 1px solid var(--green-color);
  border-radius: 0.5rem;
  font-size: 1rem;
  padding: 0.5rem 1rem;
}

input[type="number"]:focus {
  outline: none;
}

#submitBtn {
  margin-top: 1rem;
  border: none;
  background-color: var(--red-color);
  padding: 1rem 0;
  border-radius: 1rem;
  color: #fff;
  transition: 250ms ease-in-out;
}

#submitBtn:hover {
  cursor: pointer;
  background-color: var(--green-color);
}

/* Output styles */
.output {
  display: flex;
  flex-direction: column;
}

ul.ingredients {
  margin-top: 1rem;
}

ul.ingredients li {
  margin: 0.8rem 0;
}
@media all and (max-width: 800px) {
  #calculator {
    /* display: flex; */
    flex-direction: column;
  }
  input {
    width: 100%;
  }
}


/* Recipe */
#recipe {
  padding: 6rem 0;
  background-color: var(--whitish-color);
}
.recipe-text {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  width: 70%;
  margin: 0 auto;
}

.recipe-item {
  margin: 1rem 0;
  /* width: 100%; */
}

.recipe-item h2 {
  margin-bottom: 0.4rem;
}

.recipe-item .l-heading {
  text-align: center;
}

/* Responsive video */
.video {
  height: 30rem;
  width:100%;
}


.video::after {
  display: block;
  content: '';
}

.video iframe {
  width: 100%;
  height: 100%;
}

@media all and (max-width: 1000px) {
  .video {
    height: 20rem;
  }
}
/* Footer */
footer {
  padding: 1.4rem;
  background-color: var(--green-color);
  text-align: center;
  width: 100vw;
}
