@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap");

:root {
  --red-color: #b52032;
  --brown-color: #a66c48;
  --whitish-color: #ebedef;
  --dark-greyish-color: #c4c7cf;
  --light-greyish-color: #dbe4e2;
}
html {
  scroll-behavior: smooth;
}
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: "Lato", sans-serif;
  line-height: 1.6;
}

.l-heading {
  font-size: 2rem;
}

/* Navigation */
nav {
  background: var(--brown-color);
  padding: 5px 20px;
  position: fixed;
  top: 0;
  width: 100%;
}

ul {
  list-style-type: none;
}

a {
  color: white;
  text-decoration: none;
  /* padding-bottom: 0.4rem; */
}



.item a:after {
  display: block;
  padding-bottom: 0.2rem;
  content: "";
  /* border-bottom: solid 1.6px #fff; */
  border-bottom: solid 1.6px var(--red-color);
  transform: scaleX(0);
  transition: transform 250ms ease-in-out;
}

.item a:hover:after {
  transform: scaleX(1);
}

.logo a:hover {
  text-decoration: none;
}

.active {
  display: block;
  /* padding-bottom: 0.2rem; */
  /* border-bottom: solid 1.6px #fff; */
  /* border-bottom: solid 1.6px var(--red-color); */
  background: var(--red-color);
  padding: 0.2rem 1rem;
  border-radius: 1rem;
}

.menu li {
  font-size: 16px;
  padding: 15px 5px;
  white-space: nowrap;
}

.logo a,
.toggle a {
  font-size: 20px;
}

/* Mobile menu */
.menu {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.toggle {
  order: 1;
}

.item {
  width: 100%;
  text-align: center;
  order: 3;
  display: none;
}

.item.active {
  display: block;
}

/* Navbar Toggle */
.toggle {
  cursor: pointer;
}

.bars {
  background: #fff;
  display: inline-block;
  height: 2px;
  position: relative;
  transition: background 0.2s ease-out;
  width: 18px;
}

.bars:before,
.bars:after {
  background: #fff;
  content: "";
  display: block;
  height: 100%;
  position: absolute;
  transition: all 0.2s ease-out;
  width: 100%;
}

.bars:before {
  top: 5px;
}

.bars:after {
  top: -5px;
}

/* Tablet menu */
@media all and (min-width: 468px) {
  .menu {
    justify-content: center;
  }

  .logo {
    flex: 1;
  }

  .toggle {
    order: 2;
  }
}

/* Desktop menu */
@media all and (min-width: 768px) {
  .item {
    display: block;
    width: auto;
  }

  .toggle {
    display: none;
  }

  .logo {
    order: 0;
  }

  .item {
    order: 1;
  }

  .menu li {
    padding: 15px 10px;
  }
}

/* Header */

header {
  margin-top: 4.375rem;
  height: 100vh;
  background-image: url("../img/1.jpg");
  box-shadow: inset 0 0 0 2000px rgba(0, 0, 0, 0.6);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
}
.main-heading {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

header .main-heading .l-heading {
  color: #fff;
  padding: 2rem;
}

header .main-heading a {
  /* background: red; */
  padding: 1rem 4rem;
  border: 3px solid var(--red-color);
  border-radius: 1rem;
  transition: 250ms ease-in-out;
  font-size: 1.2rem;
}

header .main-heading a:hover {
  background: var(--red-color);
  padding: 1rem 4rem;
}

/* Sectrion What */

section#what {
  padding: 6rem 0;
  text-align: center;
}

#what h1 {
  margin-bottom: 1rem;
}

div.text-description {
  width: 80%;
  margin: 0 auto;
}


/* Section dough calculator */
#dough-calculator {
  background: var(--whitish-color);
  padding: 6rem 0;
}
.dough-h {
  text-align: center;
}

.dough-h h1 {
  padding: 1rem 0;
}

#calculator {
  display: flex;
  /* flex-direction: column; */
}
#calculator > * {
  flex: 1 1 0;
}

.form,
.output {
  padding: 1rem 5rem;
  align-self: center;
  justify-self: center;
}

/* Form styles */
.form-group {
  display: flex;
  flex-direction: column;
  margin: 1rem 0;
} 

input {
  width: 50%;
}

input, 
label {
  padding: 0.4rem 0;
}

input[type="number"] {
  border: none;
  background: var(--whitish-color);
  border-bottom: 1px solid var(--brown-color);
  font-size: 1rem;
}

input[type="number"]:focus {
  outline: none;
}

#submitBtn {
  margin-top: 1rem;
  border: none;
  background-color: var(--red-color);
  padding: 1rem 0;
  border-radius: 1rem;
  color: #fff;
  transition: 250ms ease-in-out;
}

#submitBtn:hover {
  cursor: pointer;
  background-color: var(--brown-color);
}

/* Output styles */
.output {
  display: flex;
  flex-direction: column;
}

ul.ingredients {
  margin-top: 1rem;
}

ul.ingredients li {
  margin: 0.8rem 0;
}
@media all and (max-width: 800px) {
  #calculator {
    /* display: flex; */
    flex-direction: column;
  }
  input {
    width: 100%;
  }
}


/* Recipe */
#recipe {
  padding: 6rem 0;
}
.recipe-text {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  width: 70%;
  margin: 0 auto;
}

.recipe-item {
  margin: 1rem 0;
}

.recipe-item h2 {
  margin-bottom: 0.4rem;
}

.recipe-item .l-heading {
  text-align: center;
}


/* Footer */
footer {
  padding: 1.4rem;
  background-color: var(--brown-color);
  text-align: center;
}